[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "island"]
	path = island
	url = https://github.com/cran/island
	shallow = true
	registered = true
